html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: darkgray;
}

.navbar {
  display: flex;
  width: 100%;
  background-color: blueviolet;
  height: 5em;
  justify-content: center;
  margin-bottom: 3em;
}

.navbar h1 {
  background-color: rgb(196, 201, 247);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin: 1em 1em auto;
  border-radius: 5px;
}

.input-group {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: rgb(196, 201, 247);
}

.content {
  flex: 1 0 auto;
}

.divResultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 5px solid black;
  width: 45%;
  margin: 0 auto;
  border-radius: 3px;
  background-color: rgb(196, 201, 247);
}

.divResultado input,
.divResultado label {
  margin-bottom: 10px;
}

button {
  padding: 5px;
  border-radius: 10px;
}

footer {
  flex-shrink: 0;
  background-color: blueviolet;
  padding: 10px;
  text-align: center;
  min-height: 3em;
}

#pessoas {
  margin-right: 50%;
}

input,
select {
  padding: 5px;
}

#resultado {
  margin-right: 50%;
}
